<h1>Welcome to Reddit</h1>
<p id="index-title">This is the home page</p>

<div class="posts">Post one</div>
<div class="posts">Post two</div>

<section>i am the content in a section element</section>
